extends ./libs/layout.jade

block content 
  include ./libs/nav.jade
  .container-fluid
    .row
      include ./libs/backArrow.jade
      .col-lg-9.border.p-5
        h1.display-4= problem[1]
        p= problem[2]
        h4 Input
        p= problem[3]
        h4 Output
        p= problem[4]
        h4 Example
        each val in problem[5]
          .container.mb-4
            .row
              .col-sm-4.border.border-info.myCode.myCode-input
                p
                  pre= val[0]
              .col-sm-4.border.border-info.myCode.myCode-output
                p
                  pre= val[1]
      .col-lg-3.border.p-3
        h6 Submissions
        .w-100.p-1
          a.w-100.btn.btn-success(role="button", href=("/submission/" + problem[0])) Submit
        .w-100.p-1
          button.w-100.btn.btn-secondary(type="button") My Submission
        .p-3
        h6 Problem Conditions
        table
          tobdy
            tr
              th Time limit:
              th= problem[7] + "s"
            tr
              th.pr-4 Memory limit:
              th= problem[8]
            tr
              th Difficulty:
              th= problem[9]
  .toast-container(style="z-index: 11; position: absolute; bottom: 10px; left: 10px;")
    #copy-toast.toast.align-items-center(role="alert", aria-live="assertive", aria-atomic="true", data-bs-delay="1000")
      .d-flex
        .toast-body Example has been copied!